<div class="navbar">
  <ul>
    <li routerLinkActive="active" (click)="toggleActive($event)"><a routerLink="/" >home</a></li>
    <li routerLinkActive="active" (click)="toggleActive($event)"><a routerLink="/settings">settings</a></li>
    <li routerLinkActive="active" (click)="toggleActive($event)"><a routerLink="/BIL">books in library</a></li>
    <li routerLinkActive="active" (click)="toggleActive($event)"><a routerLink="/BOL">books out of library</a></li>
    <li routerLinkActive="active" (click)="toggleActive($event)"><a routerLink="/checkout">checkout</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
